@import url('https://fonts.googleapis.com/css2?family=Anton&family=Bebas+Neue&family=Kdam+Thmor+Pro&family=Signika+Negative&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Days+One&display=swap');

*{
	margin: 0;
	padding: 0;
}

body{
	font-family: 'Signika Negative', sans-serif;
	background-color: #130f40;
}

main{
	width: 992px;
	height: 700px;
	background-color: #1B1464;
	margin: auto;
}

header{
	width: 992px;
	height: 70px;
	background-color: #FFC312;
}

.logobp{
	padding-left: 32px;
}

.menu{
	float: right;
}
	a{
		text-decoration: none;
		color: inherit;
		font-size: 14px;
		text-align: right;
	}

	li{
		display:inline-block;
		width:80px;
		padding:6px 15px;
		background-color:#0c2461;
		border:2px solid #fcef09;
		text-align:center;
		color:#ffa801;
		float: right;
		margin-right: 25px;
		margin-top: 18px;
		border-radius: 10px;
	}

	li:hover{
		background-color:#fcef09;
		color:#000;
		border:2px solid #fcef09;
	}

article{
	width: 992px;
	height: 560px;
	background-color: #1B1464;
	text-align: center;
}

footer{
	width: 992px;
	height: 50px;
	background-color: #FFC312;
	vertical-align: auto;
}

.logo{
	padding-left: 32px;
	width: 162px;
	position: relative;
	top: 1px;
}

.nombre{
	float: right;
	margin-right: 32px;
	position: relative;
	bottom: 7px;
}
	h2{
			font-family: 'Bebas Neue', sans-serif;
			font-size: 20px;
			color: #1B1464

		}


h1{
	color: #ffa801;
	text-align: center;
	font-size: 30px;
	font-family: 'Signika Negative', sans-serif;
			
}

.contenedor{
	width: 100%;
	background-color: #1B1464;
}

.galeria{
	display: grid;
	grid-template-columns: 3fr 3fr 3fr;
}

.imagen{
width: 295px;
height: 200px;
position: relative;
left: 5px;
border: solid ;
border-color: #fcef09;
}


@media screen and (min-width: 576px) and (max-width: 767px) {
main{
	width: 576px;
	background-color: #000;
	margin: auto;
}

header{
	width: 576px;
	height: 70px;
	background-color: #FFC312;
}

article{
	width: 576px;
	height: 1390px;
}

footer{
	width: 576px;
	height: 50px;
	background-color: #FFC312;
	vertical-align: auto;
}
	header{
	width: 100%;
	height: 140px;
	background-color: #FFC312;
	text-align: center;
	justify-content: center;
	align-items: center;
	}

	article{
	width: 100%;
	}

	a{
		text-decoration: none;
		color: inherit;
		font-size: 25px;
		text-align: center;
	}

	li{
		display:inline-block;
		width: 132px;
		text-align:center;
	    position: relative;
    	left: 12px;
		bottom: 15px;
	}

	.menu{
	float: none;
	text-align: center;
	justify-content: center;
	align-items: center;
	}
	.galeria{
		display: grid;
		grid-template-columns: 1fr;
		grid-auto-rows: 6fr 6fr 6fr 6fr 6fr 6fr;
	}

}

@media screen and (min-width: 768px) and (max-width: 991px) {
main{
	width: 768px;
	background-color: #000;
	margin: auto;
}

header{
	width: 768px;
	height: 140px;
	background-color: #FFC312;
	text-align: center;
}

ul{
	position: relative;
	right: 163px;
}

article{
	width: 768px;
	height: 750px;
}

footer{
	width: 768px;
	height: 50px;
	background-color: #FFC312;
	vertical-align: auto;
}

	.menu{
	float: none;
	text-align: center;
	justify-content: center;
	align-items: center;
	}


.galeria{
		display: grid;
		grid-template-columns: 2fr 2fr;
		grid-auto-rows: 3fr 3fr 3fr;
	}
}



@media screen and (min-width: 992px) and (max-width: 1199px) {
	body{
	font-family: 'Signika Negative', sans-serif;
	background-color: #130f40;
	}

	main{
	width: 992px;
	background-color: #000;
	margin: auto;
	}

	header{
		width: 992px;
		height: 70px;
		background-color: #FFC312;
	}

	article{
		width: 992px;
		height: 560px;
	}

	footer{
		width: 992px;
		height: 50px;
		background-color: #FFC312;
		vertical-align: auto;
	}

}

/* X-Large  (large desktops, 1200px and up)*/
@media (min-width: 1200px) and (max-width: 1399px) {
body{
	font-family: 'Signika Negative', sans-serif;
	background-color: #130f40;
} 


main{
	width: 1200px;
	background-color: #000;
	margin: auto;
	}

header{
  width: 1200px;
  height: 70px;
  background-color: #FFC312;
}

footer {
width: 1200px;
background-color: #FFC312;
vertical-align: auto;
}

article{
	width: 1200px;
	height: 576px
}
}